* {
    margin: 0px;
    padding: 0px;
}

img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

html,
body {
    font-family: 'Montserrat', Arial, Helvetica, 'Cambria', 'Cochin', Georgia, Times;
    width: 100%;
    box-sizing: content-box;
    font-style: oblique;
    color: rgb(255, 254, 254);

}

.maintop {
    background-color: #3e4444;
    /* background-color: beige; */
    padding-bottom: 2%;
    background-image: linear-gradient(to left, rgb(24, 20, 27), rgb(17, 2, 13));
}

/* HEADER */
.hamburger {
    display: none;
}

a,
.skills {
    color: rgb(216, 32, 109);
}

a::after {
    border-bottom-color: blueviolet;
}

a {
    text-decoration: none;
}

.topbar {
    display: flex;
    margin-bottom: 1%;
}

.logo {
    margin-left: 1.5%;
    margin-top: 2.5%;
}

/* .self {
    height: 100px;
    width: 50px;
} */

.navbar {
    margin: 0 auto;
    margin-top: 1.5%;
    /* background-color: aqua; */
}

.menu {
    margin-right: 15px;
}

li {
    padding: 18px;
    display: inline;
    list-style-type: none;
}

/* CONTAINER */

.container {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin: 3% 0;
}

.main-text {
    font-size: 40px;
    width: 78%;
    padding: 60px 0;
}

.innercircle {
    width: 40%;
    text-align: center;
    padding-top: 5%;
}

.personal-img {
    width: 40%;
}

.moweblack {
    border-radius: 50%;
    height: 300px;
    width: 300px;
}

/* MAINMIDDLE */
.mainmiddle {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin: 0 auto;
}

.contactinfo {
    width: 50%;
}

.bodytext {
    width: 70%;
    /* text-align: center;
    letter-spacing: 2px; */
    font-size: 20px;
}

.me {
    margin-left: 30%;
}

.icons {
    width: 40%;
}

.fa {
    border-radius: 50%;
}

.icons .fa {
    font-size: 32px;
    padding: 0px 10px;
}

/* FOOTER */
.footer {
    display: flex;
    justify-content: space-evenly;
    margin-top: 1.5%;
}

@media (max-width: 749px) {
    img {
        /* display: none; */
        width: 100%;
    }

    .hamburger {
        display: block;
        float: right;
        /* margin-top: 10px; */
        /* margin-right: auto; */
    }

    .hamburger div {
        width: 35px;
        height: 9px;
        background-color: black;
        margin: 5px 0;
        transition: 1s
    }

    .change div:nth-child(1) {
        transform: rotate(-45deg) translate(-10px, 10px);
    }

    .change div:nth-child(2) {
        opacity: 0;
    }

    .change div:nth-child(3) {
        transform: rotate(45deg) translate(-10px, -10px);
    }

    /* #navLink div {
        border-bottom: solid rgb(204, 134, 109);
        padding: 2px;
    } */

    .logo {
        position: fixed;
    }

    .navbar {
        /* margin-left: auto; */
        display: none;

    }

    .navbar li {
        display: block;
    }

    .bodytext {
        /* line-height: 4px; */
        letter-spacing: 4px;
    }

    .bodytext span {
        letter-spacing: 4px;
    }

    span {
        display: block;
    }

    .bodytext a {
        text-decoration: none;

    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .moweblack {
        object-fit: scale-down;
        width: 150%;
    }

    .main-text {
        width: 100%;
        padding-bottom: 5%;
        text-align: center;
    }

    .mainmiddle {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 8% 0;

    }

    .fa .me .bodytext {
        padding: 30px 0;
        text-align: center;
    }

    .fa {
        display: block;
    }
}