* {
    margin: 0px;
    padding: 0px;
}

img {
    object-fit: cover;
    width: 100%;
}

html,
body {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    box-sizing: content-box;
    font-style: oblique;
    color: rgb(255, 254, 254);

}

.maintop {
    background-color: #3e4444;
    padding-bottom: 2%;
    background-image: linear-gradient(to left, rgb(114, 102, 122), rgb(46, 3, 34));
}

/* HEADER */

a {
    color: rgb(216, 32, 109);
}

a::after {
    border-bottom-color: blueviolet;
}

.topbar {
    display: flex;
    margin-bottom: 1%;
}

.logo {
    margin-left: 1.5%;
    margin-top: 2%;
}

/* .self {
    height: 100px;
    width: 50px;
} */

.navbar {
    margin: 0 auto;
    margin-top: 2%;
}

.menu {
    margin-right: 15px;
}

li {
    padding: 25px;
    display: inline;
    list-style-type: none;
}

.margin {
    margin-left: 10%;
}

/* CONTAINER */

.container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 4% 0;
}

.main-text {
    font-size: 40px;
    width: 78%;
    padding: 60px 0;
}

.innercircle {
    width: 50%;
    text-align: center;
    padding-top: 5%;

}

.personal-img {
    width: 50%;
}

.moweblack {
    border-radius: 50%;
    height: 350px;
    width: 350px;
}

/* MAINMIDDLE */
.mainmiddle {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin: 0 auto;
}

.contactinfo {
    width: 50%;
}

.bodytext {
    width: 75%;
    padding: 0 65px;
    font-size: 20px;
}

span {
    padding: 0 65px;
    font-size: 20px;
}

.me {
    margin-left: 30%;
}

.icons {
    width: 50%;
}

.fa {
    border-radius: 50%;
}

.icons .fa {
    font-size: 32px;
    padding: 0px 10px;
}

/* FOOTER */
.footer {
    display: flex;
    justify-content: space-evenly;
    margin-top: 1%;
}

@media (max-width: 829px) {
    img {
        /* display: none; */
        width: 100%;
    }

    .logo {
        position: fixed;
    }

    li {
        display: block;
        padding: 0 0;
    }

    .navbar {
        margin-left: auto;
    }

    .container {
        display: flex;
        flex-direction: column;
        /* align-content: center; */
        /* align-items: center; */
        align-self: center;
    }

    .main-text {
        width: 100%;
        padding-bottom: 5%;
        text-align: center;
    }

    .mainmiddle {
        display: flex;
        flex-direction: column;
        margin: 8% 0;

    }

    .fa .me .bodytext {
        padding: 30px 0;
        text-align: center;
    }

    .footer {
        flex-wrap: wrap;
    }
}